/*
Colors used:
background Color (beige):  #F7F6F2;
text Color (black):   #000000;
highlights (orange): #F74C25
*/

html {scroll-behavior: smooth;}
* {
  box-sizing: border-box;
}
body {background-color:#F7F6F2;
font-family: 'Source Sans Pro', sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 1.6;
color: #000000;
}

h1, h2, h3, h4 {
  font-family: 'Ubuntu', sans-serif;
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 500;
}

.hero-text
{color:  #F74C25 }

.highlight {
    background: linear-gradient(120deg, #F74C25 100%, #F74C25 100%);
    background-repeat: no-repeat;
    background-size: 100% 10%;
    background-position: 0 85%;
}


h2 {
  font-size: 2.25em;
  font-weight: 500;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}
h4 {
  font-size: 1.35em;
  font-weight: 400;
}


header {
background-color:#F74C25;
color: #F7F6F2;
text-align: center;
padding: 10px 0;
box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.19);
position: relative;
width:100%
}


iframe {
  width: 100%;
}

img {
  width: 100%;
}

a {
  color: #ff7f50;
  text-decoration: none; /* No underlining */
}
a:hover, a:focus {
  color: #000000;
  text-decoration: none; /* Underlining when hovering over a link */
}
a:active { /* selected link */
  color: #994c30;
}

.button {
  display: inline-block;
  background-color: #transparent;
  color: #F74C25; /* needed to override the default link color */
  border: 2px solid #F74C25;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  transition: 0.2s opacity;

}
.button:hover {
  background-color: #F74C25;
  color: #F7F6F2;
}

.button.contact {
  background-color: transparent;
  color: #F74C25;
  border: 2px solid #F74C25;
}

.button.contact:hover {
  background-color: #F74C25;
  color: #F7F6F2;
}


.header-link {color: #F7F6F2}

.header-link:hover {
  text-decoration: none;
  color: #000000;
}
.icon {
  width: 35px;
  height: 35px
}

/* Layout styling */



.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0; /* 25px top and bottom, 0 left and right */
}



nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #F7F6F2;
}

nav > ul > li > a:hover{
color: #000000;
}

nav > ul > li > a:active
{
color: #000000;
}
